<!-- <p>task-detail works!</p> -->
<div *ngIf="todo">
    <h2>{{todo.title | uppercase}} Details</h2>
    <div>
        <span>Task:
            <input [(ngModel)]="todo.title" placeholder="title" />
        </span>
    </div>
    <div>
        <span>Category:
            <input [(ngModel)]="todo.category" placeholder="category" />
        </span>
    </div>
    <div>
        <span>Due On:
            <input [(ngModel)]="todo.dueDate" placeholder="dueDate" />
        </span>
    </div>
    <div class="form-group form-check">
        <label>
            <div><input type="checkbox" class="form-check-input" [(ngModel)]="todo.completed">
                Completed</div>
            <div><input type="checkbox" class="form-check-input" [(ngModel)]="todo.priority">
            Priority</div>
            <!-- <div><span>Due On: </span>{{todo.createdOn}}</div> -->
            <button (click)="goBack()">go back</button>
            <!-- on click want to call save() function -->
            <button (click)="save()">save</button>
            <!-- on click want to call delete() function -->
            <button class="btn btn-danger" title="delete todo" (click)="delete(todo)">X</button>
        </label>

    </div>
    <!-- Tasks have these properties:
    [x: string]: any;
    id: number;
    title: string;
    createdOn: Date;
    completed: boolean;
    user?: string;
    category?: string;
    dueDate?: Date;
    priority?: boolean; -->


</div>