<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="mr-4">
            <app-navbar-link link="" text="Dashboard"></app-navbar-link>
        </li>
        <li class="mr-4">
            <app-navbar-link link="/todos" text="To Do List"></app-navbar-link>
        </li>
        <li class="mr-4">
            <app-navbar-link link="/kanban" text="Kanban"></app-navbar-link>
        </li>
        <li class="mr-4">
            <app-navbar-link link="/todos/new" text="Add New Task"></app-navbar-link>
        </li>
    </ul>
    
    
    
    
</nav>