.col-kanban {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 236, 227);
    border: 2px solid darkgray;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    width: 450px;
    min-width: 450px;
    max-width: 1365px;
}

button {
    position: absolute;
    top: 130px;
    right: 20px;
}