<div class="search">
    <h4><label for="search-box" class="text-muted">Task Search</label></h4>
    <input #searchBox id="search-box" class="p-3" (input)="search(searchBox.value)" />
    <ul class="">
        <li class="m-2 bg-light" *ngFor="let todo of todo$ | async" >
            <div *ngIf="isKanbanTask(todo);then kanbanBlock;else notKanbanBlock"></div>
            <ng-template #kanbanBlock><a routerLink="/kanban/{{todo.id}}">{{todo.title}}</a>
            </ng-template>
            <ng-template #notKanbanBlock><a routerLink="/todos/{{todo.id}}">{{todo.title}}</a>
            </ng-template>
        </li>
    </ul>
</div>