a:hover {
  text-decoration: none;
}
ul {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

li{
  padding-left: 4px;
  border-left-width: 2px;;
  border-left-style: solid;
  border-left-color: silver;
  
}

#search-box {
  width: 200px;
  height: 20px;
}