<footer class="bg-dark text-muted p-3">
  <a class="btn btn-secondary" href="https://www.linkedin.com/in/sadia765/" target="_blank"><span class="fab fa-linkedin mr-2"></span> Sadia Ansari</a>  
  <a class="btn btn-secondary" href="https://www.linkedin.com/in/smooses/" target="_blank"><span class="fab fa-linkedin mr-2"></span>Sandy Moose</a> 
  <a class="btn btn-secondary" href="https://www.linkedin.com/in/dave-otis/" target="_blank"><span class="fab fa-linkedin mr-2"></span>Dave Otis</a> 
  <a class="btn btn-secondary"href="https://www.linkedin.com/in/chrisross2357/" target="_blank"><span class="fab fa-linkedin mr-2"></span>Chris Ross</a>
</footer>