.card{
    min-width: 400px;
    max-width: 400px;
    
    
}



/* li {
    padding: 3px;
    margin: 2px;
    border: 1px solid darkgrey;
    border-radius: 4px;

} */

li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

a:hover {
    text-decoration: none;
}

.btn-priority {
    padding: 1px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    background-color: darkred !important; 
    color: white;
    font-weight: bolder;
    font-size: 12px;
    align-content: center;
    justify-content: center;
}