.card{    
    min-width: 350px;
    max-width: 450px;    
}
a:hover {
    text-decoration: none;
}
.col-limit-w{
    max-width: 1450px;
}
.limit-height{
   
    max-height: 100px;
    overflow-y: auto;
}
.priority {
    align-content: center;
    background-color: darkred !important; 
    border-radius: .25rem;    
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    height: 25px;
    justify-content: center;
    padding: 1px;
    position: absolute;top: 10px;right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 25px;   
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
  input[type=checkbox] {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 3px;
    vertical-align: bottom;
    position: relative;
    top: 0;
    *overflow: hidden;
  }