<div class="container-fluid">
    <div class="row no-gutters">       
        <!-- Col 1 Start -->
        <div class="col-lg-10 col-md-8">
            <h1 class="h2 mt-2">Today is {{today | date: 'fullDate'}}</h1>
            <h1> <small class="text-muted">Upcoming Tasks</small></h1>
            <span *ngIf="upcomingTasks.length == 0">
                <h5 style="margin-left: 25px;">No upcoming tasks today! 😀</h5>
            </span>       
            <div class="card-deck">
                <div class="card mb-2" *ngFor="let task of upcomingTasks">
                    <div class="card-header" [ngClass]="(task.dueDate | date) >= (today | date) ? '' : 'bg-danger text-light font-weight-bold'">    
                        Due On: {{task.dueDate | date: 'fullDate'}}
                        <div class="priority" *ngIf="task.priority">!</div>   
                    </div>
                    <div class="card-body">
                        <div *ngIf="isKanbanTask(task);then kanbanBlock;else notKanbanBlock"></div>
                        <ng-template #kanbanBlock><a routerLink="/kanban/{{task.id}}"><b>{{task.title}}</b></a>
                        </ng-template>
                        <ng-template #notKanbanBlock><a routerLink="/todos/{{task.id}}"><b>{{task.title}}</b></a>
                        </ng-template>
                    </div>
                    <div class="card-footer" style="height: 25%;">
                        <div class="row">
                            <div class="col-12 input-group mb-3">
                                <div *ngIf="isKanbanTask(task);then kanbanUpdateBlock;else notKanbanUpdateBlock"></div>
                                <ng-template #kanbanUpdateBlock>
                                    <label>Update Status: &nbsp;
                                        <select class="btn btn-secondary btn-sm dropdown-toggle"
                                            [(ngModel)]="task.category" (change)="updateCategory(task)">
                                            <!-- <option *ngFor="let category of categoryOptions" 
                                                [value]="category" [label]="category">{{task.category}}</option> -->
                                            <option value="ToDo">To Do</option>
                                            <option value="InProgress">In Progress</option>
                                            <option value="Done">Done</option>
                                        </select>
                                    </label>
                                </ng-template>
                                <ng-template #notKanbanUpdateBlock>
                                    <label class="checkbox mr-2">
                                        <input type="checkbox" [(ngModel)]="task.completed"
                                            (change)="markCompleted(task)">
                                        Completed
                                    </label>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <!-- Col 2 Start -->
        <div class="col-lg-2 col-md-4 mt-2">
            <app-task-search></app-task-search>
        </div>     
    </div>   

</div>