<div class="container-fluid">
    <h3>Today is {{today | date: 'fullDate'}}</h3>
    <div class="row no-gutters">
        <div class="col">
            <h4>Upcoming Tasks</h4>
            <span *ngIf="upcomingTasks.length == 0">
                <h5 style="margin-left: 25px;">No upcoming tasks today! 😀</h5>
            </span>
            <ul class="list-group">
                <li *ngFor="let task of upcomingTasks" class="list-group-item list-group-item-action">
                    <label class="checkbox">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="task.completed"
                            (change)="markCompleted(task)">
                        <button class="btn btn-priority" *ngIf="task.priority">!</button>
                        <span><a routerLink="/todos/{{task.id}}">&nbsp;<b>{{task.title}}</b></a></span>
                        <span style="margin-left: 20px;"
                            [ngStyle]="{'color': (task.dueDate | date) >= (today | date) ? 'black' : 'red'}">
                            Due On: {{task.dueDate | date: 'fullDate'}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="row no-gutters" style="margin-top: 25px;">
        <app-task-search></app-task-search>
    </div>
</div>
