/* TaskListComponent's private CSS styles */

li {
    padding: 3px 40px 3px 3px;
    margin: 2px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    width: 100%;
}

li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

a:hover {
    text-decoration: none;
}

button.btn {
    display: flex;
    position: absolute;
    padding: 1px;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    background-color: darkred !important; 
    color: white;
    font-weight: bolder;
    align-content: center;
    justify-content: center;
}
