<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col">
            <h2>Tasks</h2>
            <div class="row no-gutters" style="margin-top: 5px;">
                <app-task-search></app-task-search>
            </div>
            <div class="form-inline">
                <label>New Task:
                    <input #taskTodo />
                </label>
                <button (click)="add(taskTodo.value); taskTodo.value=''">Add</button>
            </div>
            <div class="row no-gutters" style="margin-top: 5px;">
                <label>Filter By:
                    <select class="select-option" #filter (change)="filterTasks(filter.value)">
                        <option class="option" *ngFor="let filter of filters" [value]="filter" [label]="filter">
                        </option>
                    </select>
                    <label style="margin-left: 20px;"> Sort By:
                        <select class="select-option" #sort (change)="sortTasks(sort.value)">
                            <option class="option" *ngFor="let sortType of sortTypes" [value]="sortType"
                                [label]="sortType">
                            </option>
                        </select>
                    </label>
                </label>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <ul class="list-group todos">
                        <li *ngFor="let todo of todos" class="list-group-item list-group-item-action">
                            <label class="checkbox">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="todo.completed"
                                    (change)="markCompleted(todo)">
                                <button class="btn btn-priority" *ngIf="todo.priority">!</button>
                                <span><a routerLink="/todos/{{todo.id}}"><b>{{todo.title}}</b></a></span>
                                <span *ngIf="todo.dueDate"
                                    [ngStyle]="{'color': (todo.dueDate | date) >= (today | date) ? 'black' : 'red'}">
                                    Due On: {{todo.dueDate | date: 'fullDate'}}</span>
                                <div *ngIf="verbose" style="color: lightgray">Additional Details (Verbose On):
                                    <span *ngIf="todo.category">
                                        ID: {{todo.id}} </span>
                                    <span> Created On:
                                        {{todo.createdOn | date: 'full'}}</span>
                                    <span *ngIf="todo.category">
                                        Category: {{todo.category}} </span>
                                    <span *ngIf="todo.user">
                                        User: {{todo.user}} </span>
                                </div>
                                <button class="btn btn-danger" title="delete todo" (click)="delete(todo)">X</button>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>