<p>new-task works!</p>
<div class="form-inline">
    <label>New Task:
        <input #taskTodo />
    </label>
    <label>Category:
        <input #category />
    </label>
    <label>Due On:
        <input #dueDate type="date"/>
    </label>
    <!-- <label>Completed:
        <input #completed />
    </label>
    <label>Priority:
        <input #priority />
    </label> -->
    <div class="form-group form-check">
        <label>
            <div><input #completed type="checkbox" class="form-check-input">
                Completed</div>
            <div><input #priority type="checkbox" class="form-check-input">
            Priority</div>
        </label>

    </div>
    <button (click)="add(taskTodo.value, category.value, dueDate.value, completed.checked, priority.checked); taskTodo.value=''; category.value='';dueDate.value='';">Add</button>

</div>
<!-- task: string, category: string, dueDate: Date, priority: boolean, completed: boolean -->