.kanban-card {
    background-color: peachpuff;
    border: 2px solid lightgrey;
    border-radius: 4px;
    margin: 7px -5% 7px 5%;
    padding: 5px 25px 5px 5px;
    width: 90%;
    list-style: none;
}

.kanban-card:hover {
    background-color: #DDD;
}

button.delete {
    display: flex;
    position: absolute;
    padding: 1px;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: darkred !important; 
    color: white;
    font-weight: bolder;
    font-size: 10px;
    align-content: center;
    justify-content: center;
}