.kanban-card {
    background-color: #EEE;
    border-radius: 4px;
    margin: 1.5em;
    padding: 2em, 0;
    width: 90%;
    list-style: none;
}

.kanban-card:hover {
    color: #607D8B;
    background-color: #DDD;
}

