.kanban-card {
    background-color: #EEE;
    border-radius: 4px;
    margin: 7px -5% 7px 5%;
    padding: 5px;
    width: 90%;
    list-style: none;
}

.kanban-card:hover {
    background-color: aliceblue;
}

